{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-md-5 col-sm-12 border-bottom">
      <h5>Add a Post!</h5>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-3 col-sm-12 border-bottom">
      <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <div class="d-grid gap-2 mb-5">
          <button class="btn btn-success mt-3">Submit</button>
        </div>
      </form>
    </div>
  </div>

  {% for post in posts %}
  <div class="row justify-content-center mt-3">
    <div class="col-md-8 col-sm-12 border-bottom">
      <div>
        {% if request.user == post.author %}
          <a href="{% url 'post-edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
          <a href="{% url 'post-delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
        {% endif %}
        
        <a href="#"><img src="#" class="rounded-circle post-img" height="30" width="30"></a>
        <p class="post-text">
          <a style="text-decoration: none;" class="text-primary" href="#">@{{post.author.username}}
          </a> {{post.created_on|timesince}}
        </p>
      </div>
      <div class="position-relative">
        <p>{{post.body}}</p>
      <a href="#" class="stretched-link"></a>
      </div>

      <div class="d-flex flex-row">
        <form action="#" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{request.path}}">
          <button class="background-color:transparent; border:none; box-shadow:none;" style="background-color: transparent; border: none; box-shadow: none;" type="submit">
            <i class="far fa-thumbs-up"> <span>{{post.likes.all.count}}</span></i>
          </button>
        </form>

        <form action="#" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{request.path}}">
          <button class="background-color:transparent; border:none; box-shadow:none;" style="background-color: transparent; border: none; box-shadow: none;" type="submit">
            <i class="far fa-thumbs-down"> <span>{{post.dislikes.all.count}} </span></i>
          </button>
        </form>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}